# SPDX-FileCopyrightText: 2023-2025 The ReReSo Authors, see AUTHORS.md
#
# SPDX-License-Identifier: Apache-2.0

# Dependencies
Koch2024a-main
Koch2024a-main.zip
koch2024a.tar

# Artifacts
Koch2024a.sif
flow_one_compartment.tar.xz
