# SPDX-FileCopyrightText: 2023-2025 The ReReSo Authors, see AUTHORS.md
#
# SPDX-License-Identifier: Apache-2.0

# Dependencies
nastaran_k77-heat-pump-mining-*
nastaran_k77-heat-pump-mining-*.zip
nfer_format_compatibility-*.whl

# Artifacts
*.sif
